.header {
  text-align: center;
  padding: .6em;
  font-size: 25px;
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.contact {
  flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px;
    background: #607d8b;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
}

.ava {
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0px 2px 10px grey;
    margin-right: 1em;
    width: 8.5em;
}

.property {
  
}

.more{
  margin: 10px 0 10px 0;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
  background-color: lavender;
}

.reset {
  margin-left: 10px;
}

.total {
  
}